body{
    background: black;
}

h1 {
    font-style: italic;
    color: grey;
    background-color: brown;
}

h2 {
    color: whitesmoke;
    background-color: blue;
    font-style: oblique;
}

h3 {
    color: chartreuse;
    background-color: blueviolet;
}

h4 {
    color: tomato;
    background-color: slategrey;
}

h5 {
    font-style: inherit;
    color: purple;
    background-color: royalblue;
}